{% extends "base.html" %}

{% block content %}

<section class="login-wrapper">
    <div class="login">
        <div class="top-login">
            <h2>Register</h2>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <ul class="form-errors">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            <input type="text" name="username" placeholder="Username" value="{{ form.username.value|default_if_none:'' }}" required>
            <input type="email" name="email" placeholder="Email" value="{{ form.email.value|default_if_none:'' }}" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>

            <button type="submit" class="btn">Register</button>
        </form>

    </div>
</section>

{% endblock content %}
